@font-face {
  font-family: FjallaOne;
  src: url("FjallaOne-Regular.ttf");
}

@font-face {
  font-family: IBMPlexSans-Thin;
  src: url("IBMPlexSans-Thin.ttf");
}

@font-face {
  font-family: Khand-Light;
  src: url("Khand-Light.ttf");
}

@font-face {
  font-family: "FiraSans";
  src: url("./FiraSans-Regular.ttf");
}

@font-face {
  font-family: Khand;
  src: url("Khand-Regular.ttf");
}

@font-face {
  font-family: Khand-Bold;
  src: url("Khand-Bold.ttf");
}

@font-face {
  font-family: "Moderne Sans";
  src: url("./moderne_sans.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("./OpenSans-Light.ttf");
}

@font-face {
  font-family: "FjallaOne";
  src: url("./FjallaOne-Regular.ttf");
}

@font-face {
  font-family: "Pacifico";
  src: url("./Pacifico.ttf");
}

@font-face {
  font-family: "Josefin Sans Semibold";
  src: url("./JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("./JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Josefin Sans Regular";
  src: url("./JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("./JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Copse Regular";
  src: url("./Copse-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("./RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("./RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Lobster Regular";
  src: url("./Lobster-Regular.ttf");
}

@font-face {
  font-family: "Raleway Light";
  src: url("./Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway Med";
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway Dark";
  src: url("./Raleway-Black.ttf");
}

@font-face {
  font-family: "SquadaOne";
  src: url("./SquadaOne-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("./Oswald-Regular.ttf");
}

@font-face {
  font-family: "Barlow";
  src: url("./Barlow-Regular.ttf");
}
