doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title ChargeQuest - Admin Charger Types
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/custom/css/common.css")

    body
        span#resp.hidden= resp
        span#ctlist.hidden= ctlist

        include include/bs5_modals.pug
        include include/admin_navbar.pug

        form#frmEdit(method="post" action="/admin/ctypes" onsubmit="return ValidateEdit();")
            input#hdnEditCTID(type="hidden" name="ctid")
            #EditModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Edit Charger Type
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .mb-3
                                label.form-label.text-muted(for="tbEditName") Charger Type Name
                                input#tbEditName.form-control(type="text" name="ctname")
                                .invalid-feedback Name is required!
                            .mb-3
                                label.form-label.text-muted(for="tbEditDesc") Charger Type Description
                                textarea#tbEditDesc.form-control(name="ctdesc" rows="2" style="resize:none;")
                                .invalid-feedback Description is required!
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_edit") Save Changes

        form#frmDelete(method="post" action="/admin/ctypes")
            input#hdnDeleteCTID(type="hidden" name="ctid")
            #DeleteModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Delete Charger Type
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            p.text-muted.mb-0 Are you sure you want to delete this charger type standard?
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-danger(type="submit" name="submit_del") Confirm Delete

        .container.mb-5 
            .row.g-4
                .col-lg-4.col-12 
                    form#frmAdd(method="post" action="/admin/ctypes" onsubmit="return ValidateAdd();")
                        .glass-card
                            h4.mb-4 Add Charger Type
                            .mb-3
                                label.form-label.text-muted(for="tbName") Charger Type Name
                                input#tbName.form-control(type="text" name="ctname" placeholder="e.g. CCS3 (DC Fast)")
                                .invalid-feedback Name is required!
                            .mb-3
                                label.form-label.text-muted(for="tbDesc") Charger Type Description
                                textarea#tbDesc.form-control(name="ctdesc" rows="2" style="resize:none;" placeholder="Description...")
                                .invalid-feedback Description is required!
                            .mt-4
                                button.btn.btn-primary.w-100(type="submit" name="submit_add") Save

                .col-lg-8.col-12 
                    .glass-card
                        h4.mb-4 Charger Type Registry
                        .table-responsive
                            table#tblCTList.table.table-glass
                                thead 
                                    tr 
                                        th #
                                        th Name 
                                        th Description 
                                        th Actions 
                                tbody 

        include include/footer.pug

        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/admin_ctypes.js")