doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title ChargeQuest - Admin Users
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/custom/css/common.css")

    body
        span#resp.hidden= resp
        span#users.hidden= userlist

        include include/bs5_modals.pug
        include include/admin_navbar.pug

        form#frmChangeStatus(method="post" action="/admin/users" onsubmit="return ValidateChangeStatus();")
            input#hdnCSUserID(type="hidden" name="userid")
            #ChangeStatusModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Adjust Driver Status
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .mb-3 
                                label.form-label.text-muted(for="tbFullName") Full Name
                                input#tbCSFullName.form-control(type="text" name="fullname" readonly="")
                            .mb-3 
                                label.form-label.text-muted(for="ddStatus") Status 
                                select#ddCSStatus.form-select(name="status")
                                    option(value='-1') --Select Status--
                                    option(value='active') Active 
                                    option(value='inactive') Inactive 
                                    option(value='suspended') Suspended
                                .invalid-feedback Select status!
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_chstatus") Save Changes
        
        form#frmDeleteUser(method="post" action="/admin/users" onsubmit="return ValidateDelete();")
            input#hdnDelUserID(type="hidden" name="userid")
            #DeleteUserModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Terminate Account
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            p.text-danger.fw-bold WARNING: This action is permanent and will remove all driver telemetry and vehicles.
                            p.text-muted.mb-0 Are you sure you want to delete this user?
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-danger(type="submit" name="submit_del") Terminate Account

        .container.mb-5 
            .row 
                .col-12 
                    .glass-card
                        h3.mb-4 Registered EV Drivers
                        .table-responsive
                            table#tblUserList.table.table-glass
                                thead 
                                    tr 
                                        th #
                                        th Full Name 
                                        th Email Address
                                        th Mobile 
                                        th Home Address 
                                        th City 
                                        th Status 
                                        th Actions 
                                tbody 

        include include/footer.pug
        
        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/admin_users.js")