doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title ChargeQuest - Admin Stations
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")
        link(rel="stylesheet" href="/custom/css/common.css")
        script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js")

    body
        span#resp.hidden= resp
        span#cslist.hidden= cslist

        include include/bs5_modals.pug
        include include/admin_navbar.pug

        #LocPickerModal.modal(tabindex="-1")
            input#hdnLocInfo(type="hidden" name="locinfo")
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        h5.modal-title Geo-location Coordinates Picker
                        button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                    .modal-body
                        div(style="height: 400px;")
                            #map
                    .modal-footer
                        button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                        button#btnSelectLoc.btn.btn-primary(data-bs-dismiss="modal" type="button") Confirm Pick

        form#frmEdit(action="/admin/cstations" method="post" onsubmit="return ValidateEdit();") 
            input#hdnEditCSID(type="hidden" name="csid")
            #EditModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Modify Station Parameters
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .mb-3 
                                label.form-label.text-muted(for="tbEditName") Charging Station Name
                                input#tbEditName.form-control(type="text" name="name")
                                .invalid-feedback Name is required! 
                            .mb-3 
                                label.form-label.text-muted(for="tbEditLat") Station Latitude
                                input#tbEditLat.form-control(type="text" name="lat" readonly="")
                            .mb-3 
                                label.form-label.text-muted(for="tbEditLong") Station Longitude 
                                input#tbEditLong.form-control(type="text" name="long" readonly="")
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_edit") Save changes

        form#frmChangeStatus(method="post" action="/admin/cstations" onsubmit="return ValidateChangeStatus();")
            input#hdnCSCSID(type="hidden" name="csid")
            #ChangeStatusModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Toggle Terminal Status
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .mb-3 
                                label.form-label.text-muted(for="tbCSName") Station Name
                                input#tbCSName.form-control(type="text" name="csname" readonly="")
                            .mb-3 
                                label.form-label.text-muted(for="ddCSStatus") Operation Status 
                                select#ddCSStatus.form-select(name="status")
                                    option(value='-1') --Select Status--
                                    option(value='Active') Active 
                                    option(value='Inactive') Inactive 
                                .invalid-feedback Select status!
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_chstatus") Save changes

        .container.mb-5 
            .row.g-4
                .col-lg-4.col-12
                    form#frmAdd(method="post" action="/admin/cstations" onsubmit="return ValidateAdd();")
                        input#hdnLoc(type="hidden" name="loc")
                        .glass-card
                            h4.mb-4 Add Charging Station
                            .mb-3 
                                label.form-label.text-muted(for="tbName") Station Name
                                input#tbName.form-control(type="text" name="name" placeholder="e.g. Pala Road EV Charger")
                                .invalid-feedback Name is required! 
                            .mb-3 
                                label.form-label.text-muted(for="tbLat") Latitude Coordinate
                                input#tbLat.form-control(type="text" name="lat" placeholder="Click map to pick")
                                .invalid-feedback Station latitude is required! 
                            .mb-3 
                                label.form-label.text-muted(for="tbLong") Longitude Coordinate 
                                input#tbLong.form-control(type="text" name="long" placeholder="Click map to pick")
                                .invalid-feedback Station longitude is required! 
                            .d-flex.gap-2.mt-4
                                button#btnTriggerSelectLoc.btn.btn-secondary.w-100(type="button")
                                    i.fa-solid.fa-map-pin.me-1
                                    | Open Map
                                button.btn.btn-primary.w-100(type="submit" name="submit_add") Save

                .col-lg-8.col-12
                    .glass-card
                        h4.mb-4 Registered Charging Stations 
                        .table-responsive
                            table#tblCSList.table.table-glass
                                thead   
                                    tr 
                                        th #
                                        th Name 
                                        th GPS Coordinates 
                                        th Status 
                                        th Actions 
                                tbody

        include include/footer.pug

        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/admin_cstations.js")