doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title ChargeQuest - EV Garage
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/custom/css/common.css")

    body
        span#resp.hidden= resp
        span#cslist.hidden= cslist

        include include/bs5_modals.pug
        include include/user_navbar.pug

        form#frmAdd(method="post" action="/user/vehicles" onsubmit="return ValidateAdd();")
            #AddModal.modal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Add Vehicle to Garage
                            button.btn-close(aria-label="Close" data-bs-dismiss="modal" type="button")
                        .modal-body
                            .mb-3
                                label.form-label.text-muted(for="ddPresetVehicles") Choose EV Model Preset (Optional)
                                select#ddPresetVehicles.form-select
                                    option(value="-1") -- Choose a Preset EV --
                            .mb-3
                                label.form-label.text-muted(for="tbComp") Vehicle Make / Company
                                input#tbComp.form-control(type="text" name="comp" placeholder="e.g. Tesla, Hyundai, Tata")
                                .invalid-feedback Company is required! 
                            .mb-3
                                label.form-label.text-muted(for="tbModel") Vehicle Model 
                                input#tbModel.form-control(type="text" name="model" placeholder="e.g. Model Y, Ioniq 5, Nexon EV")
                                .invalid-feedback Model is required! 
                            .mb-3
                                label.form-label.text-muted(for="tbColour") Vehicle Colour
                                input#tbColour.form-control(type="text" name="colour" placeholder="e.g. Midnight Blue, Solid Black")
                                .invalid-feedback Colour is required! 
                            .mb-3
                                label.form-label.text-muted(for="tbCapacity") Battery Capacity (kWh)
                                input#tbCapacity.form-control(type="number" name="capacity" placeholder="e.g. 40, 75, 100")
                                .invalid-feedback Battery capacity is required! 
                            .mb-3
                                label.form-label.text-muted(for="tbRange") Range on Full Charge (km)
                                input#tbRange.form-control(type="number" name="range" placeholder="e.g. 312, 450, 520")
                                .invalid-feedback Range is required! 
                            .mb-3
                                label.form-label.text-muted(for="ddChargeType") Connector Plug Standard
                                select#ddChargeType.form-select(name="ctid")
                                .invalid-feedback Charger type is required!
                        .modal-footer
                            button.btn.btn-secondary(data-bs-dismiss="modal" type="button") Close
                            button.btn.btn-primary(type="submit" name="submit_add") Save Vehicle

        .container.mb-5
            .row
                .col-12
                    .glass-card
                        .d-flex.justify-content-between.align-items-center.mb-4
                            div
                                h2.mb-1 🚗 My EV Garage
                                p.text-muted.mb-0 Register and manage compatible vehicles for recommendation mapping.
                            button#btnTriggerAddModal.btn.btn-primary(type="button")
                                i.fa-solid.fa-plus.me-2
                                | Add EV Vehicle
                        
                        .table-responsive
                            table#tblVehicles.table.table-glass
                                thead   
                                    tr 
                                        th #
                                        th Make
                                        th Model
                                        th Colour
                                        th Capacity
                                        th Range
                                        th Charger Connector
                                        th Actions
                                tbody

        include include/footer.pug

        script(src="/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/jquery/jquery.min.js")
        script(src="/custom/js/bs5_modals.js")
        script(src="/custom/js/user_vehicles.js")