nav.navbar.navbar-expand-lg.navbar-glass.navbar-dark.mb-4
    .container
        a.navbar-brand(href="/admin/index") 
            img(src="/media/applogo.svg" alt="logo" style="width:36px;")
            span ChargeQuest 
            small.text-muted.ms-2(style="font-size: 0.65em;") Admin Dashboard
        button.navbar-toggler(aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarSupportedContent" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button")
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(href="/admin/index") Home
                li.nav-item
                    a.nav-link(href="/admin/users") Users                    
                li.nav-item
                    a.nav-link(href="/admin/cstations") Stations
                li.nav-item
                    a.nav-link(href="/admin/cports") Ports
                li.nav-item
                    a.nav-link(href="/admin/ctypes") Charger Types
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(aria-expanded="false" data-bs-toggle="dropdown" role="button" href="#") Admin
                    ul.dropdown-menu.dropdown-menu-dark
                        li
                            a.dropdown-item(href="/admin/logout") Logout